{% extends "main/template.html" %}
{% block title %}
TLP | Absence Record
{% endblock %}

{% block body %}
<table class= "table">
    <thead>
    <tr>
        <th scope="col"><h1>Student Name</h1></th>
        <th scope="col"><h1>Class </h1></th>
        <th scope="col"><h1>Board</h1></th>
        <th scope="col"> <h1>Number of Absences</h1></th>
    </tr>
    </thead>

    <tbody>

    <tr>
        <th colspan="5" scope="col"> <h2>Class 6</h2></th>
    </tr>

    {% for student in six %}
     <tr>
         <th scope="row">{{student.name}}</th>
         <td>{{student.std}}</td>
         <td>{{student.board}}</td>
         <td>{{student.num_absent}}</td>
     </tr>
    {% endfor %}

    <tr>
        <th colspan="5" scope="col"> <h2>Class 7</h2></th>
    </tr>

    {% for student in seven %}
     <tr>
         <th scope="row">{{student.name}}</th>
         <td>{{student.std}}</td>
         <td>{{student.board}}</td>
         <td>{{student.num_absent}}</td>
     </tr>
    {% endfor %}

    <tr>
        <th colspan="5" scope="col"> <h2>Class 8</h2></th>
    </tr>

    {% for student in eight %}
     <tr>
         <th scope="row">{{student.name}}</th>
         <td>{{student.std}}</td>
         <td>{{student.board}}</td>
         <td>{{student.num_absent}}</td>
     </tr>
    {% endfor %}

    <tr>
        <th colspan="5" scope="col"> <h2>Class 9</h2></th>
    </tr>

    {% for student in nine %}
     <tr>
         <th scope="row">{{student.name}}</th>
         <td>{{student.std}}</td>
         <td>{{student.board}}</td>
         <td>{{student.num_absent}}</td>
     </tr>
    {% endfor %}

    <tr>
        <th colspan="5" scope="col"> <h2>Class 10</h2></th>
    </tr>

    {% for student in ten %}
     <tr>
         <th scope="row">{{student.name}}</th>
         <td>{{student.std}}</td>
         <td>{{student.board}}</td>
         <td>{{student.num_absent}}</td>
     </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}