{% extends "main/template.html" %}
{% block title %}
Student Rec
{% endblock %}

{% block body %}
<table>
    <tr>
        <th><h1>Student Name</h1></th>
        <th><h1>Class </h1></th>
        <th><h1>Board</h1></th>
        <th> <h1>Number of Absences</h1></th>
    </tr>

    <tr>
        <th colspan="5"> <h2>Class 6</h2></th>
    </tr>

    {% for student in six %}
     <tr>
         <td>{{student.name}}</td>
         <td>{{student.std}}</td>
         <td>{{student.board}}</td>
         <td>{{student.num_absent}}</td>
     </tr>
    {% endfor %}

    <tr>
        <th colspan="5"> <h2>Class 7</h2></th>
    </tr>
    
    {% for student in seven %}
     <tr>
         <td>{{student.name}}</td>
         <td>{{student.std}}</td>
         <td>{{student.board}}</td>
         <td>{{student.num_absent}}</td>
     </tr>
    {% endfor %}

    <tr>
        <th colspan="5"> <h2>Class 8</h2></th>
    </tr>
    
    {% for student in eight %}
     <tr>
         <td>{{student.name}}</td>
         <td>{{student.std}}</td>
         <td>{{student.board}}</td>
         <td>{{student.num_absent}}</td>
     </tr>
    {% endfor %}

    <tr>
        <th colspan="5"> <h2>Class 9</h2></th>
    </tr>
    
    {% for student in nine %}
     <tr>
         <td>{{student.name}}</td>
         <td>{{student.std}}</td>
         <td>{{student.board}}</td>
         <td>{{student.num_absent}}</td>
     </tr>
    {% endfor %}

    <tr>
        <th colspan="5"> <h2>Class 10</h2></th>
    </tr>
    
    {% for student in ten %}
     <tr>
         <td>{{student.name}}</td>
         <td>{{student.std}}</td>
         <td>{{student.board}}</td>
         <td>{{student.num_absent}}</td>
     </tr>
    {% endfor %}
</table>
{% endblock %}